@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
:root {
  /*font*/
  --condensed: 'Barlow Condensed', sans-serif;
  --barlow: 'Barlow', sans-serif;
  /* font size: 1rem = 10px */
  font-size: 62.5%;
  /*color palette*/
  --red: hsl(0, 100%, 68%);
  --very-dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);
}

/*reset*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
p,
a,
ul,
li,
h1,
h2 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--very-dark-blue);
}

li {
  list-style-type: none;
}

/*utilities*/
.bold {
  font-weight: 700;
}

.regular {
  font-weight: 400;
}

.uppercase {
  text-transform: uppercase;
}

.barlow {
  font-family: var(--barlow);
}

.condensed {
  font-family: var(--condensed);
}

.half-opacity {
  opacity: 0.5;
}

.btn {
  cursor: pointer;
  display: inline-block;
}

.btn--cta {
  background-color: var(--red);
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn--cta:hover {
  opacity: 0.75;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.dot {
  width: 6px;
  height: 6px;
  background-color: var(--very-dark-blue);
  opacity: 0.15;
  border-radius: 50%;
}

li.nav-dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}

li.nav-dot:hover {
  text-decoration: none;
}

/*base styles*/
ul li {
  cursor: pointer;
}

ul li:hover {
  text-decoration: underline;
}

.hero-image {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  right: 0;
}

main {
  margin-top: 104vw;
}

p.highlight {
  color: #ffffff;
  background-color: var(--very-dark-blue);
  border-radius: 12.5px;
  opacity: 1;
  text-align: center;
  letter-spacing: 1px;
  padding: 0.35rem 1.02rem;
  line-height: 1.2;
}

p.highlight, p.intro-heading {
  display: inline-block;
  font-size: 1.5rem;
}

p.intro-heading {
  letter-spacing: 5px;
  margin-left: 1.6rem;
}

p.cta {
  display: inline-block;
}

.bottom-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  margin-top: 10rem;
  margin-bottom: 2rem;
}

footer a {
  color: var(--red);
}

footer a:hover {
  text-decoration: underline;
}

.attribution {
  text-align: center;
}

/* mobile styles */
header {
  margin-top: 3.8rem;
  margin-bottom: 6.4rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#burger {
  cursor: pointer;
}

.logo img {
  max-width: 24px;
}

.background-shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  min-width: 187px;
  min-height: 425px;
  background-color: var(--light-grayish-blue);
  border-radius: 0 0 0 60px;
  z-index: -1;
}

.hero-image img {
  max-width: 131.87%;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.container {
  padding: 0 3.2rem;
  margin: 0 auto;
}

#nav-items-mobile, #nav-items-desktop {
  display: none;
}

#nav-items-mobile.show {
  background-color: #ffffff;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  margin-top: 25rem;
  z-index: 1;
  -webkit-transform: translate(-50%, 24%);
          transform: translate(-50%, 24%);
  padding: 2.4rem;
  min-width: 311px;
  width: 82.9%;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(91, 95, 113, 0.6);
          box-shadow: 0px 10px 20px 0px rgba(91, 95, 113, 0.6);
}

#nav-items-mobile li {
  font-size: 1.8rem;
  letter-spacing: 1.2px;
  line-height: 1.22;
}

#nav-items-mobile li:not(:last-child) {
  margin-bottom: 2.4rem;
}

#nav-items-mobile li:last-child {
  opacity: 0.5;
}

li.divider {
  height: 1px;
  background-color: var(--very-dark-blue);
  opacity: 0.15;
  width: 100%;
}

.main__intro h1 {
  font-size: 4rem;
  line-height: 1;
}

.main__intro h2 {
  opacity: 0.75;
  line-height: 1.44;
  font-size: 1.8rem;
  margin-bottom: 2.7rem;
}

.main__intro h1,
.main__intro h2 {
  margin-top: 1.6rem;
  letter-spacing: 0;
}

.main__cta p {
  font-size: 1.4rem;
  line-height: 1.21;
  letter-spacing: 2.5px;
  margin-left: 2rem;
}

.btn--cta {
  padding: 1.15rem 2.2rem;
  font-size: 1.4rem;
  letter-spacing: 0.93px;
  border-radius: 5px;
}

@media (min-width: 575.5px) {
  main {
    margin-top: 92vw;
  }
  .main__intro {
    text-align: center;
  }
  .bottom-cta {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 576px) {
  main {
    margin-top: 85vw;
  }
}

@media (min-width: 768px) {
  .hero-image {
    width: 50%;
    margin-bottom: 0;
  }
  main {
    margin-top: 9rem;
  }
  .main__intro {
    text-align: left;
  }
  .bottom-cta {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  :root {
    font-size: 70%;
  }
  .container {
    padding: 0 8rem;
  }
  #burger {
    display: none;
  }
  #nav-items-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #nav-items-desktop li {
    font-size: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.2;
  }
  #nav-items-desktop li:not(:last-child) {
    margin-right: 4.2rem;
  }
  #nav-items-desktop li:last-child {
    opacity: 0.5;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 80%;
  }
  .container {
    padding: 0 10rem;
  }
}

@media (min-width: 1440px) {
  :root {
    font-size: 62.5%;
  }
  header {
    margin-top: 6.4rem;
    margin-bottom: 12.4rem;
  }
  .bg-shape {
    width: 48.96vw;
    min-height: 427px;
  }
  .logo img {
    max-width: 32px;
  }
  .container {
    padding: 0 16.5rem;
    max-width: 1440px;
  }
  .main__intro {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main__intro h1 {
    font-size: 6.4rem;
    margin-top: 2rem;
  }
  .main__intro h2 {
    margin-top: 3.2rem;
    margin-bottom: 6.4rem;
  }
  .hero-image img {
    max-width: 130.75%;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  .hero-content {
    margin-top: 3.8rem;
  }
  .btn--cta {
    font-size: 1.6rem;
    line-height: 1.1785;
    padding: 1.45rem 3.3375rem;
  }
  .main__cta p {
    font-size: 1.5rem;
    letter-spacing: 5px;
    margin-left: 2.4rem;
    line-height: 1.2;
  }
}
/*# sourceMappingURL=main.css.map */